/*
 * ==========================================================================
 *  Модуль стилей макета
 *  Определяет основную структуру и контейнеры страницы.
 * ==========================================================================
 */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}